<!DOCTYPE html>
<html lang="en">
<head>
<!-- head -->
{{> head }}
	
</head>
<body class="{{subTitle}}">
<div class="wrapper">
<!-- header -->
{{> header }}

<!-- title -->
{{> title }}

<!--  Demos -->
<section class="container" id="demos">
	<div class="row">
		<div class="col-lg-12">
			{{> body }}
		</div>
	</div>
</section>
<div class="push"></div>
</div>
<!-- footer -->
{{> footer }}

<!-- javascript -->
{{> javascripts }}

</body>
</html>