<!DOCTYPE html>
<html lang="en">
<head>
<!-- head -->
{{> head }}

</head>
<body>
<!-- header -->
{{> header }}

<!-- title -->
{{> title }}
<div class="container" id="docs">
	<div class="row">
		<div class="col-sm-12">
			<article class="docs-content">
				{{> body }}
			</article>
		</div>
	</div>
</div>

<!-- footer -->
{{> footer }}

<!-- javascript -->
{{> javascripts }}
	</body>
</html>