<footer class="container-fluid footer">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p>Designed and built by:</p>
					<h4>Steven Wanderski - <a href="http://stevenwanderski.com" target="_blank">Chicago web developer</a></h4>
					<h4>Eric Wafford - <a href="http://tidalwaveagency.com.com" target="_blank">Dallas web developer</a></h4>
				</div>
			</div>
		</div>
	</div>
</footer>

