<section class="container" id="hero">
	<div class="row">
		<div class="col-md-8">
			<h1>{{ lead }}</h1>
			<h4>{{ tagline }}</h4>
			<a href="{{ pkg.homepage }}" class="btn btn-outline">Homepage</a> <a href="https://github.com/stevenwanderski/bxslider-4/" class="btn btn-outline">Github</a>
			<p class="sub-lead">Current Version: <span class="version">{{ pkg.version }}</span></p>
		</div>
	</div>
</section>
