<div class="jumbotron theme-alt">
  <div class="container-fluid">
    <ul class="bxSlider fade">
      <li id='slide_24' class="out">
        <h1><img alt="" class="img-responsive center-block animated delay1000 flipInX hingeOut" src="{{assets}}/img/LogoWinstrap.png" /></h1>
        <h3 class="text-center animated bounceInRight bounceOutLeft">Sample animations: flip</h3> </li>
      <li id='slide_29' class="out">
        <h1><img alt="" class="img-responsive center-block animated delay1000 zoomIn zoomOut" src="{{assets}}/img/LogoWinstrap.png" /></h1>
        <h3 class="text-center animated bounceInRight bounceOutLeft">Sample animations: zoom</h3> </li>
      <li id='slide_31' class="out">
        <h1><img alt="" class="img-responsive center-block animated delay1000 rotateIn rotateOut" src="{{assets}}/img/LogoWinstrap.png" /></h1>
        <h3 class="text-center animated bounceInRight bounceOutLeft">Sample animations: rotate</h3> </li>
    </ul>
  </div>
</div>
